{% extends ('@EsCore/layout.html.twig') %}

{% block title %}Reset Password{% endblock %}

{% block body %}
{{ form_start(form, { 'action': path('es_core_reset_password', {'token': token}), 'attr': { 'class': 'test' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Envoyer" />
    </div>
{{ form_end(form) }}
{% endblock %}